<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/lpbus_bot</property>
        <mapping class="com.example.lp.domai.RideDataEntity"/>
        <mapping class="com.example.lp.domai.RouteEntity"/>
        <mapping class="com.example.lp.domai.RouteStopEntity"/>
        <mapping class="com.example.lp.domai.RouteStopTransportEntity"/>
        <mapping class="com.example.lp.domai.StopEntity"/>
        <mapping class="com.example.lp.domai.TransportEntity"/>
        <mapping class="com.example.lp.domai.TransportInfoEntity"/>
        <mapping class="com.example.lp.domai.UserAddressEntity"/>
        <mapping class="com.example.lp.domai.UserInfoEntity"/>
        <mapping class="com.example.lp.domai.UsersEntity"/>
    </session-factory>
</hibernate-configuration>